[submodule "submodule/documenter"]
	path = submodule/documenter
	url = https://github.com/squared-studio/documenter.git
[submodule "submodule/adn_common"]
	path = submodule/adn_common
	url = https://github.com/ADN-VLSI/adn_common.git
